<button pButton type="button" class="no-background" (click)="showMenus(true)" icon="fa fa-bars"></button>

<p-sidebar [(visible)]="display" [baseZIndex]="10000" styleClass="navbar-background">
  <h4>{{ sidebarTitle }}</h4>

  <div class="dropdown-divider"></div>
  
  <ul class="nav flex-column nav-pills" id="sidebar-tab" role="tablist" aria-orientation="vertical">
    <li class="nav-item" *ngFor="let item of menuItems">
      <a class="nav-link {{item.active}}" id="{{'sidebar-' + item.id + '-tab'}}" data-toggle="pill" href="{{'#'+item.url}}" role="tab" attr.aria-controls="{{'sidebar-' + item.id}}" attr.aria-selected="{{item.active != ''}}" (click)="showMenus(false)">{{item.label}}</a>
    </li>
  </ul><!-- ./nav-pills -->

</p-sidebar>