/* You can add global styles to this file, and also import other style files */

/* **** SIZES **** */
.font-size-18 {
    font-size: 18px;
}

/* **** COMPONENTS **** */
/* Backgrounds */

.no-background {
    background: transparent !important;
    border: 0px !important;
}
