/* You can add global styles to this file, and also import other style files */
/* **** COLORS **** */
.navbar-background {
    background: #000000; /* Para browser que não suportam gradient */
    background: linear-gradient(#000000, #7c7c7c);
    color: #fff;
    font-size: 18px;
}

.no-background {
    background: transparent !important;
    border: 0px !important;
}

/* Menus */
.nav-tabs .nav-item a {
    color: #fff;
}

.nav-tabs .nav-link.active {
    color: #2e3133;
    background-color: #fff;
}

/* Sidebar */
.nav-pills .nav-item a {
    color: #fff;
} 

.nav-pills .nav-link.active {
    color: #2e3133;
    background-color: #fff;
}

